* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background: #1E1E1E;
}

.center__1 {
    padding-left: calc(50% - 700px);
    padding-right: calc(50% - 700px);
}

.center__2 {
    padding-left: calc(55% - 442px);
    padding-right: calc(45% - 443px);
}

header {
    height: 106px;
    border: 1px solid green;
}

.top__content {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 30px;
}

.left__vigit {
    padding-right: 17.4285%;

    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.title {
    width: 53.5714%;

}

.big__title {
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    color: #FFFFFF;

    margin-bottom: 30px;
}

.small__title {
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}

.right__vigit {
    padding-left: 12.8571%;

    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.img {
    border-radius: 30px;
    display: flex;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.central__text {
    margin-top: 37px;
    margin-bottom: 60px;

    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}

.cent__text {
    padding-bottom: 37px;
}

.column__text {
    display: grid;
    grid-template-columns: 33.8218% 64.2715%;
    grid-template-rows: auto;
    column-gap: 1.9165%;
    /* row-gap: 4.5095%; */
    row-gap: 37px;

    margin-bottom: 30px;
}

.heading {
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}

.main__text {
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.m__text span {
    font-weight: bold;
}

.m__text {
    padding-top: 4%;
}