@font-face {
    font-family: 'Neue Montreal';
    src: url(./fonts/NeueMontreal-Regular.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url(./fonts/NeueMontreal-Medium.otf) format('opentype');
    font-weight: 500;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: #1E1E1E;
    min-width: 299px;
    margin: 0px 100px;

    font-family: 'Neue Montreal';
}

a {
    text-decoration: none;
    color: black;
}

.center {
    padding-left: calc(50% - 700px);
    padding-right: calc(50% - 700px);
}

.header {
    position: relative;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 15.8571%; */

    padding: 30px 0px;
    height: 45px;
}

.links_vigits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 68.7142%;
}

.other__links {
    display: flex;
    flex-direction: row;
    gap: 3px;
    max-height: 40px;
}

.main_link {
    padding: 8px 30px;
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.link_courses_geeks {
    font-size: 24px;
    line-height: 29px;

    border: 1px solid white;
}

.link__articles {
    border: 1px solid white;
    background: #B286FD;
    transition: .3s;
}

.link__articles:hover {
    background: #995EFF;
}

.link__reviews {
    color: #000000;
    background: #B2F042;
    transition: .3s;
}

.link__reviews:hover {
    background: #96DC18;
}

.link__about {
    color: #000000;
    background: #FFFFFF;
    transition: .3s;
}

.link__about:hover {
    background: #CECECE;
}

.link__forum {
    border: 1px solid white;
    background: #262626;
}

.vigit-hover path {
    transition: .3s;
}

.vigit-hover circle {
    transition: .3s;
}

.vigit-hover:hover path {
    fill: #FFF;
    opacity: .7;
}

.vigit-hover:hover circle {
    stroke: #FFF;
    opacity: .7;
}


.wrapper {
    display: none;
}

#check-menu {
    display: none;
}

.label_check_menu {
    display: block;
    position: absolute;
    top: 38px;
    right: 0;
    width: 45px;
    height: 45px;
    cursor: pointer;
    z-index: 2;
}

.burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 29px;
    height: 3px;
    background: linear-gradient(90deg, #B2F042, #B286FD);
    transition: .5s all;
}

.first {
    top: 18px;
}


.main-menu {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 15px 0px 148px;
    transform: translateY(100%);
    visibility: hidden;
    background-color: #1E1E1E;
    border-radius: 0px 0px 20px 20px;

    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    text-align: center;
    transition: .5s all;

    opacity: 0; 
    max-height: 0px;
    font-size: 0px;
}

.menu_link {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 0px;
}

.menu_link:last-child {
    opacity: .3;
}

#check-menu:checked ~ .main-menu {
    /* display: block; */
    opacity: 1; 
    max-height: 600px;
    font-size: 48px;
    padding: 15px 0px 148px;
    visibility: visible;
}

.wrapper #check-menu:checked ~ .label_check_menu .first {
    transform: translateY(0px) rotate(45deg);
}

.wrapper #check-menu:checked ~ .label_check_menu .second {
    transform: translateY(10px) rotate(-45deg);
}

.andrey__block {
    background: #B286FD;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    border-radius: 30px;
    /* width: 48.9285%; */
}

.info__part {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: 48.9285%; */
}

.name {
    background: #101010;
    border-radius: 30px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 132px;
    /* text-align: center; */
    padding: 10px 22px 20px 20px;
}

.site__info {
    background: #101010;
    border-radius: 30px;
    padding: 30px 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 110%;
    color: #B286FD;
}

.photo__part {
    background: #101010;
    border-radius: 30px;
    width: 175.33%;
    padding: 20px;
    display: flex;
    align-items: center;
}

.main_photo {
    /* max-width: 645px; */
    width: 100%;
    height: auto;
    /* object-fit: cover; */
}

.white_block {
    display: flex;
    flex-direction: row;
    gap: 11%;

    background-color: white;
    border-radius: 30px;
    padding: 30px;
    margin: 10px 0px;
}

.white_block_text {
    width: 49.627%;

    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 110%;
    color: #000000;   
}

.white_block_photo {
    width: 31.1945%;
}

.picture {
    width: 100%;
    height: auto;
}

.form_and_forum {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.top_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    background: #B2F042;
    border-radius: 30px;
    padding: 30px;
    width: 83.894%;
}

.title_form {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 110%;
    color: #000000;
    margin-bottom: 40px;
    width: 64.301%;
}

.input_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

#email_top {
    display: flex;
    /* margin-bottom: 5px; */
}

#email_top input {
    flex: 1;
    padding-left: 30px;
    height: 46px;
    border: 1px solid #000000;
    border-radius: 30px;
    background-color: #B2F042;
}

input:focus {
    outline: none;
    border: 1px solid #B2F042;
}

.email_submit_button {
    background: #000000;
    border-radius: 30px;
    border: black;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

    padding: 11px 0;

    transition: .3s;
}

.email_submit_button:hover {
    background: #101010;
}

.text_form {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.5;
}

.forum {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: #262626;
    border-radius: 30px;
    padding: 30px;
    width: 83.893%;

    color: white;
}

.top_part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top_part_text {
    width: 35.91%;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.forum_status {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    padding: 8px 20px;
    height: 24px;

    border: 1px solid #FFFFFF;
    border-radius: 30px;
}

.forum_title {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 110%;
}

.other__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
    margin: 50px 0px 11px 0px;
}

.subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}

.white__button {
    background: #D7D9DD;
    border-radius: 30px;
    padding: 6px 31px;
    height: 19px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;

    transition: .3s;
}

.white__button:hover {
    background: #FFF;
}

.first_line {
    height: 2px;
    border: none;
    background: #808080;
    margin-bottom: 25px;
}

.article_boxes {
    display: grid;
    grid-template-columns: repeat(2, 49.642857%);
    grid-template-rows: auto;
    gap: 10px;
}

.article__box {
    border: 1px solid white;
    border-radius: 30px;
    padding: 30px;

    display: flex;
    flex-direction: column;
}


.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.violet__link {
    padding: 4px 20px;
    background: #B286FD;
    border-radius: 30px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.black__link {
    padding: 4px 20px;
    border: 1px solid white;
    border-radius: 30px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.photo {
    border-radius: 30px;
    margin-bottom: 25px;
    width: 100%;
    height: auto;
}

.content {
    font-style: normal;
    color: #FFFFFF;

    padding-top: 10px;
}

.title {
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;

    padding-bottom: 15px;
}

.article__description {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.other__info {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* gap: 10px; */
    /* height: 590px; */
    gap: 0.625%;
    margin-bottom: 10px;
}

.info {
    position: relative;
    width: 49.6875%;
    border-radius: 30px;
}

.info:hover {
    cursor: pointer;
}

.article-img {
    object-fit: cover;
    width: 100%;
    border-radius: 30px;
}

.other__content {
    position: absolute;
    top: 30px;
    left: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88.1355%;
    width: 79.1366%;
    transition: .5s;
}

.other__content:hover {
    height: 80%;
    padding-bottom: 40px;
}

.other__content::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 105px;
    height: 25px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.other__content:hover::after {
    content: "Read more";
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    background-color: #FFF;
    border-radius: 30px;
    opacity: 1;
    visibility: visible;
}

.info__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.info__links {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.purple__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
    background: #B286FD;
    border-radius: 30px;
}

.black__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
    border: 1px solid white;
    border-radius: 30px;
}

.info__title {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}

.title__info {
    margin-bottom: 10px;
}

.text__in {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    /* width: 82.707%; */
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    background: #B2F042;
    border-radius: 30px;
    /* padding-left: 30px;
    padding-right: 30px; */
    padding: 30px;
    height: 180px;
}

.form__title {
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 100%;
    color: #000000;
    margin-bottom: 40px;
}

.form__input {
    display: flex;
    flex-direction: column;
    width: 47.5%;
    gap: 10px;
}

#email {
    display: flex;
    margin-bottom: 5px;
}

#email input {
    flex: 1;
    padding-left: 30px;
    height: 46px;
    border: 1px solid #000000;
    border-radius: 30px;
    background-color: #B2F042;
}

.email_submit {
    background: #000000;
    border-radius: 30px;
    border: black;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

    padding: 11px 0;
}

.email_submit:hover {
    background: #101010;
}

.form__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.5;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 5px;
}

.half__footer {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.footer__text {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 30px;

    border: 1px solid #FFFFFF;
    border-radius: 30px;
    /* background-color: #1E1E1E; */

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer__text:hover {
    background: #1B1B1B;
}

.footer__line {
    display: none;
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .name {
        font-weight: 500;
        font-size: 91px;
        line-height: 145px;
    }

    .site__info {
        font-weight: 400;
        font-size: 50px;
        /* line-height: 110%; */
    }


}

@media (min-width: 640px) and (max-width: 1200.99px) {
    body {
        margin: 0px 20px;
    }

    .wrapper {
        display: block;
    }

    .links_vigits {
        display: none;
    }

    .andrey__block {
        border-radius: 20px;
        padding: 5px;
        gap: 5px;
    }

    .info__part {
        width: 199.45%;
        text-align: center;
        gap: 5px;
        position: relative;
    }

    .info__part::after {
        content: "Blog author";

        position: absolute;
        display: block;
        content: "Blog author";
        border-radius: 20px;
        width: fit-content;
        background: black;
        color: white;
        padding: 5px 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* text-align: center; */
        bottom: 5px;
        left: 0;
    }

    .name {
        font-weight: 500;
        font-size: 48px;
        line-height: 58px;

        padding: 10px;
        border-radius: 20px;
    }

    .site__info {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        border-radius: 20px;
        padding: 10px;
        text-align: start;
    }

    .photo__part {
        border-radius: 20px;
        padding: 5px;
    }

    .white_block {
        padding: 20px;
        border-radius: 20px;
        gap: 6%;
    }

    .white_block_text {
        font-size: 24px;
    }

    .white_block_photo {
        width: 43.92%;
    }

    .form_and_forum {
        flex-direction: column;
    }

    .top_form {
        border-radius: 20px;
        padding: 20px;
        width: auto;
    }

    .forum {
        border-radius: 20px;
        padding: 20px;
        height: 342px;
        width: auto;
    }

    .top_part_text {
        width: 40.716%;
    }

    .forum_status {
        font-size: 14px;
        line-height: 17px;
        height: 17px;
    }

    .subtitle {
        font-size: 24px;
        line-height: 29px;
    }

    .white__button {
        padding: 5px 20px;
    }

    .first_line {
        margin-bottom: 20px;
    }

    .article_boxes {
        grid-template-columns: 1fr;
    }

    .article__box {
        padding: 20px;
        border-radius: 20px;
    }

    .photo {
        margin-bottom: 20px;
        border-radius: 20px;
    }

    .links {
        height: 22px;
    }

    .violet__link {
        font-size: 12px;
        line-height: 14px;
    }

    .black__link {
        font-size: 12px;
        line-height: 14px;
    }

    .title {
        padding-bottom: 10px;
    }

    .other__info {
        flex-direction: column;
        gap: 10px;
    }

    .info {
        width: auto;
        border-radius: 20px;
    }

    .article-img {
        border-radius: 20px;
    }

    .other__content {
        top: 20px;
        left: 20px;
        width: 91.667%;
        height: 92.2%;
    }

    .other__content:hover {
        height: 82%;
    }

    .form {
        flex-wrap: wrap;
        padding: 30px 20px 20px 20px;
        border-radius: 20px;
        height: auto;
    }

    .form__title {
        font-size: 48px;
        line-height: 110%;
    }

    .form__input {
        width: 100%;
    }

    .footer {
        position: relative;
        gap: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .half__footer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 41px;
        width: auto;
    }

    .for_640px {
        align-items: flex-start;
    }

    .footer__text {
        font-size: 24px;
        line-height: 29px;
    }

    .main_title {
        font-weight: 500;
    }

    .reverse_for_640px {
        flex-direction: column-reverse;
        align-items: self-end;
    }

    .year {
        width: 33.478%;
    }

    .grey_title {
        border-color: #808080;
        color: #808080;
    }

    .footer__line {
        display: inline;
        position: absolute;
        top: 50%;
        width: 100%;
    }

    .grey_line_footer {
        background-color: #808080;
        border: 0;
        height: 1px;    
    }
}


@media (min-width: 320px) and (max-width: 639.9px) {
    body {
        margin: 0px 10px;
    }

    .header {
        position: relative;
    }

    .nav {
        padding: 15px 0px;
        height: 30px;
    }

    .link_courses_geeks {
        font-size: 16px;
        line-height: 19px;
        padding: 5px 20px;
    }

    .links_vigits {
        display: none;
    }

    .wrapper {
        display: block;
    }

    .label_check_menu {
        top: 17px;
        height: 30px;
    }

    #check-menu:checked ~ .main-menu {
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
    }

    .andrey__block {
        flex-direction: column;
        border-radius: 10px;
    }

    .name {
        font-weight: 500;
        font-size: 45px;
        line-height: 54px;
        border-radius: 10px;
        padding: 10px;
    }

    .site__info {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        border-radius: 10px;
        padding: 10px;
    }

    .photo__part {
        width: auto;
        border-radius: 10px;
        padding: 10px;
    }

    .white_block {
        flex-direction: column;
        padding: 15px;
        border-radius: 10px;
    }

    .white_block_text {
        font-size: 14px;
        line-height: 110%;
        width: auto;
        margin-bottom: 15px;
    }

    .white_block_photo {
        width: 55.765%;
        margin: auto;
    }

    .form_and_forum {
        flex-direction: column;
    }

    .top_form {
        width: auto;
        border-radius: 10px;
        padding: 15px;
    }

    .title_form {
        font-size: 24px;
        margin-bottom: 23px;
    }

    #email_top input {
        height: 30px;
        padding-left: 15px;
    }

    .email_submit_button {
        height: 30px;
        font-size: 14px;
        line-height: 17px;
        padding: 6px 0px;
    }

    .text_form {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        margin-top: -5px;
    }

    .forum {
        width: auto;
        padding: 15px;
        border-radius: 10px;
        height: 192px;
    }

    .top_part_text {
        font-size: 12px;
        line-height: 14px;
        width: 52%;
    }

    .forum_status {
        font-size: 12px;
        line-height: 13px;
        padding: 5px 15px;
        height: 14px;
    }

    .form__title {
        font-size: 24px;
    }

    .article_boxes {
        grid-template-columns: 100%;
    }

    .article__box {
        border-radius: 10px;
        padding: 15px;
    }

    .photo {
        border-radius: 10px;
        height: 150px;
        width: auto;
        object-fit: cover;
        margin-bottom: 15px;
    }

    .violet__link, .black__link {
        padding: 4px 20px;
        font-size: 12px;
        line-height: 14px;
    }

    .title {
        font-size: 28px;
        padding-bottom: 10px;
    }

    .article__description {
        font-size: 14px;
        line-height: 17px;
    }

    .other__info {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
    }

    .info {
        width: 100%;
        height: 400px;
    }

    .article-img {
        border-radius: 10px;
        height: 400px;
    }

    .other__content {
        top: 15px;
        left: 15px;
        width: 87%;
        height: 92.5%;
    }

    .other__content:hover {
        height: 81%;
        padding-bottom: 39px;
    }

    .info__links a {
        font-size: 12px;
        line-height: 14px;
    }

    .info__title {
        font-size: 24px;
        line-height: 29px;
    }

    .title__info {
        font-size: 24px;
        line-height: 29px;
    }

    .text__in {
        font-size: 14px;
        line-height: 17px;
    }

    .form {
        flex-wrap: wrap;
        padding: 15px;
        border-radius: 10px;
        height: auto;
    }

    .left__part {
        width: 80%;
    }

    .form__title {
        font-size: 24px;
        line-height: 110%;
        margin-bottom: 23px;
    }

    .form__input {
        width: 100%;
    }

    #email {
        margin-bottom: 0px;
    }

    #email input {
        height: 29px;
        font-size: 14px;
        line-height: 17px;
        padding-left: 15px;
    }

    .email_submit {
        font-size: 14px;
        line-height: 17px;
        padding: 0;
        height: 29px;
    }

    .form__text {
        font-size: 10px;
        line-height: 12px;
        margin-top: -5px;
    }

    .footer {
        position: relative;
        gap: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .half__footer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 21px;
        width: auto;
    }

    .for_640px {
        align-items: flex-start;
    }

    .footer__text {
        font-size: 16px;
        line-height: 19px;
        padding: 5px 20px;
    }

    .main_title {
        font-weight: 500;
    }

    .reverse_for_640px {
        flex-direction: column-reverse;
        align-items: self-end;
    }

    .year {
        width: 33.478%;
    }

    .grey_title {
        border-color: #808080;
        color: #808080;
    }

    .footer__line {
        display: inline;
        position: absolute;
        top: 50%;
        width: 100%;
    }

    .grey_line_footer {
        background-color: #808080;
        border: 0;
        height: 1px;    
    }
}