@font-face {
    font-family: 'Neue Montreal';
    src: url(./fonts/NeueMontreal-Regular.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: #1E1E1E;
    min-width: 299px;
    margin: 0px 100px;

    font-family: 'Neue Montreal';
}

a {
    text-decoration: none;
    color: black;
}

.center {
    padding-left: calc(50% - 700px);
    padding-right: calc(50% - 700px);
}

.header {
    position: relative;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 15.8571%; */

    padding: 30px 0px;
    height: 45px;
}

.links_vigits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 68.7142%;
}

.other__links {
    display: flex;
    flex-direction: row;
    gap: 3px;
    max-height: 40px;
}

.main_link {
    padding: 8px 30px;
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.link_courses_geeks {
    font-size: 24px;
    line-height: 29px;

    border: 1px solid white;
    /* background-color: #1E1E1E; */
}

.link__articles {
    border: 1px solid white;
    background: #B286FD;
}

.link__reviews {
    color: #000000;
    background: #B2F042;
}

.link__about {
    color: #000000;
    background: #FFFFFF;
}

.link__forum {
    border: 1px solid white;
    background: #262626;
}


.wrapper {
    display: none;
}

#check-menu {
    display: none;
}

.label_check_menu {
    display: block;
    position: absolute;
    top: 38px;
    right: 0;
    width: 45px;
    height: 45px;
    cursor: pointer;
    z-index: 2;
}

.burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 29px;
    height: 3px;
    background: linear-gradient(90deg, #B2F042, #B286FD);
    transition: .5s all;
}

.first {
    top: 18px;
}


.main-menu {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 15px 0px 148px;
    transform: translateY(100%);
    visibility: hidden;
    background-color: #1E1E1E;
    border-radius: 0px 0px 20px 20px;

    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    text-align: center;
    transition: .5s all;

    opacity: 0; 
    max-height: 0px;
    font-size: 0px;
}

.menu_link {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 0px;
}

.menu_link:last-child {
    opacity: .3;
}

#check-menu:checked ~ .main-menu {
    /* display: block; */
    opacity: 1; 
    max-height: 600px;
    font-size: 48px;
    padding: 15px 0px 148px;
    visibility: visible;
}

.wrapper #check-menu:checked ~ .label_check_menu .first {
    transform: translateY(0px) rotate(45deg);
}

.wrapper #check-menu:checked ~ .label_check_menu .second {
    transform: translateY(10px) rotate(-45deg);
}

.andrey__block {
    background: #B286FD;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    border-radius: 30px;
    /* width: 48.9285%; */
}

.info__part {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: 48.9285%; */
}

.name {
    background: #101010;
    border-radius: 30px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 132px;
    /* text-align: center; */
    padding: 10px 22px 20px 20px;
}

.site__info {
    background: #101010;
    border-radius: 30px;
    padding: 30px 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 110%;
    color: #B286FD;
}

.photo__part {
    background: #101010;
    border-radius: 30px;
    width: 175.33%;
    padding: 20px;
    display: flex;
    align-items: center;
}

.main_photo {
    /* max-width: 645px; */
    width: 100%;
    height: auto;
    /* object-fit: cover; */
}

.white_block {
    display: flex;
    flex-direction: row;
    gap: 11%;

    background-color: white;
    border-radius: 30px;
    padding: 30px;
    margin: 10px 0px;
}

.white_block_text {
    width: 49.627%;

    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 110%;
    color: #000000;   
}

.white_block_photo {
    width: 31.1945%;
}

.picture {
    width: 100%;
    height: auto;
}

.form_and_forum {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.top_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    background: #B2F042;
    border-radius: 30px;
    padding: 30px;
    width: 83.894%;
}

.title_form {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 110%;
    color: #000000;
    margin-bottom: 40px;
    width: 64.301%;
}

.input_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

#email_top {
    display: flex;
    margin-bottom: 5px;
}

#email_top input {
    flex: 1;
    padding-left: 30px;
    height: 46px;
    border: 1px solid #000000;
    border-radius: 30px;
    background-color: #B2F042;
}

.email_submit_button {
    background: #000000;
    border-radius: 30px;
    border: black;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

    padding: 11px 0;
}

.text_form {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.5;
}

.forum {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: #262626;
    border-radius: 30px;
    padding: 30px;
    width: 83.893%;

    color: white;
}

.top_part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top_part_text {
    width: 35.91%;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.forum_status {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    padding: 8px 20px;
    height: 24px;

    border: 1px solid #FFFFFF;
    border-radius: 30px;
}

.forum_title {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 110%;
}

.other__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
    margin: 50px 0px 11px 0px;
}

.subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}

.white__button {
    background: #D7D9DD;
    border-radius: 30px;
    padding: 6px 31px;
    height: 19px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.first_line {
    height: 2px;
    border: none;
    background: #808080;
    margin-bottom: 25px;
}

.article_boxes {
    display: grid;
    grid-template-columns: repeat(2, 49.642857%);
    grid-template-rows: auto;
    gap: 10px;
}

.article__box {
    border: 1px solid white;
    border-radius: 30px;
    padding: 30px;

    display: flex;
    flex-direction: column;
}


.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.violet__link {
    padding: 4px 20px;
    background: #B286FD;
    border-radius: 30px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.black__link {
    padding: 4px 20px;
    border: 1px solid white;
    border-radius: 30px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.photo {
    border-radius: 30px;
    margin-bottom: 25px;
    width: 100%;
    height: auto;
}

.content {
    font-style: normal;
    color: #FFFFFF;

    padding-top: 10px;
}

.title {
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;

    padding-bottom: 15px;
}

.article__description {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.other__info {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* gap: 10px; */
    /* height: 590px; */
    gap: 0.625%;
    margin-bottom: 10px;
}

.info {
    position: relative;
    width: 49.6875%;
}

.article-img {
    object-fit: cover;
    width: 100%;
}

.other__content {
    position: absolute;
    top: 30px;
    left: 30px;
    /* right: 115px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 520px; */
    height: 88.1355%;
    width: 79.1366%;
}

.info__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.info__links a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* line-height: 17px; */
    color: #FFFFFF;

    border-radius: 30px;
}

.purple__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
    background: #B286FD;
    /* border-radius: 30px; */
    /* width: 90px; */
    /* height: 25px; */

    /* font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF; */
}

.black__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
    border: 1px solid white;
    /* width: 109px;
    height: 25px; */
    /* border-radius: 30px; */

    /* font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF; */

}

.info__title {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}

.title__info {
    margin-bottom: 10px;
}

.text__in {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    /* width: 82.707%; */
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    background: #B2F042;
    border-radius: 30px;
    /* padding-left: 30px;
    padding-right: 30px; */
    padding: 30px;
    height: 180px;
}

.form__title {
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 100%;
    color: #000000;
    margin-bottom: 40px;
}

.form__input {
    display: flex;
    flex-direction: column;
    width: 47.5%;
    gap: 10px;
}

#email {
    display: flex;
    margin-bottom: 5px;
}

#email input {
    flex: 1;
    padding-left: 30px;
    height: 46px;
    border: 1px solid #000000;
    border-radius: 30px;
    background-color: #B2F042;
}

.email_submit {
    background: #000000;
    border-radius: 30px;
    border: black;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

    padding: 11px 0;
}

.form__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.5;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 5px;
}

.half__footer {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.footer__text {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 30px;

    border: 1px solid #FFFFFF;
    border-radius: 30px;
    background-color: #1E1E1E;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer__line {
    display: none;
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .name {
        font-weight: 500;
        font-size: 91px;
        line-height: 145px;
    }

    .site__info {
        font-weight: 400;
        font-size: 50px;
        /* line-height: 110%; */
    }


}

@media (min-width: 640px) and (max-width: 1200.99px) {
    body {
        margin: 0px 20px;
    }

    .andrey__block {
        border-radius: 20px;
        padding: 5px;
    }

    .info__part {
        width: 238.1%;
        text-align: center;
    }

    .name {
        font-weight: 500;
        font-size: 48px;
        line-height: 58px;

        padding: 10px;
        border-radius: 20px;
    }

    .site__info {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        border-radius: 20px;
        padding: 10px;
        text-align: start;
        margin-top: 5px;
    }

    .photo__part {
        border-radius: 20px;
        padding: 5px;
    }
}
