/* @import url(../styles/common.css); */

@import url(../styles/header.css);

@import url(../styles/form.css);

@import url(../styles/footer.css);

.main {
    max-width: 1400px;
}

.top__section {
    border-radius: 30px;
    /* height: 352px; */
    background: 
        radial-gradient(circle 2500px at -32.4285% 138.9285%,
            rgba(40,0,99,.8) 20%,
            rgba(178,134,253,0.2) 50% 60%),
        radial-gradient(circle 800px at 100% -30%,
            rgba(134,24,185,.8) 40%,
            rgba(178,134,253,.7)),
        radial-gradient(circle 350px at top left,
            rgba(134,24,185,1) 50%,
            rgba(178,134,253,.7) 
        ) white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 60px;

    color: var(--main-white-color);
}

.top__title {
    /* font-style: normal; */
    font-weight: var(--font-weight-large);
    font-size: var(--font-size-headline-large-3);
    line-height: 115px;
}

.top__text {
    width: 31.2114%;
    margin-top: 10px;

    /* font-style: normal; */
    font-weight: var(--font-weight-small);
    font-size: var(--font-size-text-large);
    line-height: 29px;
    text-align: center;
}

.midle__section {
    display: flex;
    flex-direction: row;
    gap: var(--gap-large);
    margin: 10px 0px;
}

.left__box {
    min-width: 49.6428%;
}

.photo {
    border-radius: var(--border-radius-large);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right__box {
    border-radius: var(--border-radius-large);
    background-color: var(--main-white-color);
    color: var(--black-colo);
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.white__block {
    border: 1px solid var(--black-colo);
    border-radius: var(--border-radius-large);

    /* font-style: normal; */
    font-weight: var(--font-weight-small);
    font-size: var(--font-size-text-medium-2);
    line-height: 24px;
    text-align: center;

    padding: 8px 20px;
}

.main__text {
    width: 88.3453%;

    /* font-style: normal; */
    font-weight: var(--font-weight-small);
    font-size: var(--font-size-headline-small-1);
    line-height: 38px;
}

@media (min-width: 640px) and (max-width: 1200px) {
    .top__section {
        border-radius: var(--border-radius-medium);

        background: 
        radial-gradient(circle 2500px at -32.4285% 138.9285%,
            rgba(40,0,99,.8) 10%,
            rgba(178,134,253,0.2) 50% 60%),
        radial-gradient(circle 800px at 100% -30%,
            rgba(134,24,185,.8) 40%,
            rgba(178,134,253,.7))
         white;
    }

    .main__text {
        font-size: var(--font-size-text-small);
        line-height: 17px;
    }

    .main__text {
        font-size: var(--font-size-text-medium-2);
        line-height: 110%;
    }

    .photo {
        border-radius: var(--border-radius-medium);
    }

    .right__box {
        border-radius: var(--border-radius-medium);
    }
}

@media (min-width: 320px) and (max-width: 639.99px) {
    .top__section {
        border-radius: var(--border-radius-small);

        background: 
        radial-gradient(circle 2500px at -32.4285% 138.9285%,
            rgba(40,0,99,.6) 10%,
            rgba(178,134,253,0.8) 30% 60%),
        radial-gradient(circle 800px at 100% -30%,
            rgba(134,24,185,.8) 40%,
            rgba(178,134,253,.7))
         white;
    }

    .top__title {
        font-size: var(--font-size-headline-small-1);
        line-height: 38px;
    }
    
    .top__text {
        margin-top: 0px;
        font-size: var(--font-size-text-small);
        line-height: 17px;
    }
    
    .midle__section {
        flex-direction: column;
    }
    
    .left__box {
        min-width: 100%;
    }
    
    .photo {
        border-radius: var(--border-radius-small);
    }
    
    .right__box {
        border-radius: var(--border-radius-small);
        padding: 15px;
    }
    
    .white__block {
        font-size: var(--font-size-text-little);
        line-height: 15px;
    }
    
    .main__text {
        width: 100%;
        font-size: var(--font-size-text-small);
        line-height: 17px;
    }
}

@media screen and (max-width: 320px) {
    #email {
        gap: 5px;
    }
}