.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: var(--gap-small);
}

.half__footer {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.footer__text {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 30px;

    border: 1px solid var(--main-white-color);
    border-radius: var(--border-radius-large);
    background-color: var(--main-menu-bg-color);

    font-weight: var(--font-weight-small);
    font-size: var(--font-size-text-medium-3);
    line-height: 24px;
    color: var(--main-white-color);
    transition: .3s;
}

.footer__text:hover {
    background-color: #252525;
}

.footer__line {
    display: none;
}

@media (min-width: 640px) and (max-width: 1200.99px) {
    .footer {
        position: relative;
        gap: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .half__footer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 41px;
        width: auto;
    }

    .for_640px {
        align-items: flex-start;
    }

    .footer__text {
        font-size: var(--font-size-text-large);
        line-height: 29px;
    }

    .main_title {
        font-weight: var(--font-weight-large);
    }

    .reverse_for_640px {
        flex-direction: column-reverse;
        align-items: self-end;
    }

    .year {
        width: 33.478%;
    }

    .grey_title {
        border-color: var(--line-color);
        color: var(--line-color);
    }

    .footer__line {
        display: inline;
        position: absolute;
        top: 50%;
        width: 100%;
    }

    .grey_line_footer {
        background-color: var(--line-color);
        border: 0;
        height: 1px;    
    }
}

@media (min-width: 320px) and (max-width: 639.9px) {
    .footer {
        position: relative;
        gap: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .half__footer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 21px;
        width: auto;
    }

    .for_640px {
        align-items: flex-start;
    }

    .footer__text {
        font-size: var(--font-size-text-medium-1);
        line-height: 19px;
        padding: 5px 20px;
    }

    .main_title {
        font-weight: var(--font-weight-large);
    }

    .reverse_for_640px {
        flex-direction: column-reverse;
        align-items: self-end;
    }

    .year {
        width: 33.478%;
    }

    .grey_title {
        border-color: var(--line-color);
        color: var(--line-color);
    }

    .footer__line {
        display: inline;
        position: absolute;
        top: 50%;
        width: 100%;
    }

    .grey_line_footer {
        background-color: var(--line-color);
        border: 0;
        height: 1px;    
    }
}