.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    background: var(--main-green-color);
    border-radius: var(--border-radius-large);
    padding: 30px;
    height: 180px;
}

.form__title {
    font-weight: var(--font-weight-small);
    font-size: var(--font-size-headline-large-1);
    line-height: 100%;
    color: var(--main-black-color);
    margin-bottom: 40px;
}

.form__input {
    display: flex;
    flex-direction: column;
    width: 47.5%;
    gap: 10px;
}

#email {
    display: flex;
    margin-bottom: 5px;
    flex-direction: column;
    gap: 15px;
}

#email input {
    flex: 1;
    padding-left: 30px;
    border: 1px solid var(--main-black-color);
    border-radius: var(--border-radius-large);
    background-color: var(--main-green-color);
    line-height: 46px;
    font-size: var(--font-size-text-medium-3);
    outline: 0;
}

.input::placeholder {color: var(--main-black-color);opacity: .5;}

.email_submit {
    background: var(--main-black-color);
    border-radius: var(--border-radius-large);
    border: var(--main-black-color);

    font-weight: var(--font-weight-small);
    font-size: var(--font-size-text-medium-3);
    line-height: 24px;
    color: var(--main-white-color);

    padding: 11px 0;
}

.email_submit:hover {
    background: var(--main-black-color);
}

.form__text {
    font-weight: var(--font-weight-large);
    font-size: var(--font-size-text-medium-1);
    line-height: 19px;
    color: var(--main-black-color);
    opacity: 0.5;
}

@media (min-width: 640px) and (max-width: 1200.99px) {
    .form {
        flex-wrap: wrap;
        padding: 30px 20px 20px 20px;
        border-radius: var(--border-radius-medium);
        height: auto;
    }

    .form__title {
        font-size: var(--font-size-headline-medium-2);
        line-height: 110%;
    }

    .form__input {
        width: 100%;
    }

    #email {
        gap: 10px;
    }

    /* .left__part {
        width: 60%;
    } */
}

@media (min-width: 320px) and (max-width: 639.9px) {
    .form {
        flex-wrap: wrap;
        padding: 15px;
        border-radius: var(--border-radius-small);
        height: auto;
    }

    .left__part {
        width: 80%;
    }

    .form__title {
        font-size: var(--font-size-text-large);
        line-height: 110%;
        margin-bottom: 23px;
    }

    .form__input {
        width: 100%;
    }

    #email {
        margin-bottom: 0px;
        
    }

    #email input {
        height: 29px;
        font-size: var(--font-size-text-small);
        /* line-height: 17px; */
        padding-left: 15px;
        line-height: 30px;
    }

    .email_submit {
        font-size: var(--font-size-text-small);
        line-height: 17px;
        padding: 0;
        height: 29px;
    }

    .form__text {
        font-size: var(--font-size-text-smallest);
        line-height: 12px;
        margin-top: -5px;
    }
}