.header {
    position: relative; /*это свойство нужно для относительного позиционирования .label_check_menu, об этом позже*/
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0px;
    height: 45px;
}

.links-vigits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 68.7142%;
}

.other__links {
    display: flex;
    flex-direction: row;
    gap: 3px;
    height: 40px;
}

.main_link {
    padding: 8px 30px;
    border-radius: 30px;
    font-style: normal;
    font-weight: var(--font-weight-large);
    font-size: var(--font-size-text-medium-3);
    line-height: 24px;
    color: var(--main-white-color);
}

.link_courses-geeks {
    font-size: var(--font-size-text-large);
    line-height: 29px;

    border: 1px solid white;
}

.link__articles {
    border: 1px solid white;
    background: var(--main-violet-color);
    transition: .3s;
}

.link__articles:hover {
    background: var(--hover-color-violet);
}

.link__reviews {
    color: var(--main-black-color);
    background: var(--main-green-color);
    transition: .3s;
}

.link__reviews:hover {
    background: var(--hover-color-green);
}

.link__about {
    color: var(--main-black-color);
    background: var(--main-white-color);
    transition: .3s;
}

.link__about:hover {
    background: var(--hover-color-white);
}

.link__forum {
    border: 1px solid white;
    background: var(--main-grey-color);
    pointer-events: none;
}

.vigit-hover path {
    transition: .3s;
}

.vigit-hover circle {
    transition: .3s;
}

.vigit-hover:hover path {
    fill: var(--main-white-color);
    opacity: .7;
}

.vigit-hover:hover circle {
    stroke: var(--main-white-color);
    opacity: .7;
}

.wrapper {
    display: none;
}

#check-menu {
    display: none;
}

.label_check_menu {
    display: block;
    position: absolute;
    top: 38px;
    right: 0;
    width: 45px;
    height: 45px;
    cursor: pointer;
    z-index: 2;
}

.burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 29px;
    height: 3px;
    background: linear-gradient(90deg, var(--main-green-color), var(--main-violet-color));
    transition: .5s all;
}

.first {
    top: 18px;
}

.main-menu {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 15px 0px 148px;
    transform: translateY(100%);
    visibility: hidden;
    background-color: var(--main-menu-bg-color);
    border-radius: 0px 0px 20px 20px;

    font-weight: var(--font-weight-large);
    line-height: 58px;
    color: var(--main-white-color);
    text-align: center;
    transition: .5s all;

    /* opacity: 0; 
    max-height: 0px; */
    z-index: 10;
}

.menu_link {
    display: block;
    color: var(--main-white-color);
    text-decoration: none;
    padding: 15px 0px;
}

.menu_link:last-child {
    opacity: .3;
}

#check-menu:checked ~ .main-menu {
    /* opacity: 1; 
    max-height: 600px; */
    font-size: var(--font-size-headline-medium-2);
    padding: 15px 0px 148px;
    visibility: visible;
}

.wrapper #check-menu:checked ~ .label_check_menu .first {
    transform: translateY(0px) rotate(45deg);
}

.wrapper #check-menu:checked ~ .label_check_menu .second {
    transform: translateY(10px) rotate(-45deg);
}

@media (min-width: 640px) and (max-width: 1200.99px) {
    .wrapper {
        display: block;
    }

    .links-vigits {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 639.9px) {
    .header {
        position: relative;
    }

    .nav {
        padding: 15px 0px;
        height: 30px;
    }

    .link_courses-geeks {
        font-size: var(--font-size-text-medium-1);
        line-height: 19px;
        padding: 5px 20px;
    }

    .links-vigits {
        display: none;
    }

    .wrapper {
        display: block;
    }

    .label_check_menu {
        top: 17px;
        height: 30px;
    }

    #check-menu:checked ~ .main-menu {
        font-weight: var(--font-weight-large);
        font-size: var(--font-size-headline-little);
        line-height: 34px;
    }
} 

