@font-face {
    font-family: 'Neue Montreal';
    src: url(../fonts/NeueMontreal-Regular.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url(../fonts/NeueMontreal-Medium.otf) format('opentype');
    font-weight: 500;
    font-style: normal;
}

input.input_placeholder::-webkit-input-placeholder {color:#000000 ; opacity:.5;}/* webkit */
input.input_placeholder::-moz-placeholder {color:#000000 ; opacity:.5;}/* Firefox 19+ */
input.input_placeholder:-moz-placeholder {color:#000000 ; opacity:.5;}/* Firefox 18- */
input.input_placeholder:-ms-input-placeholder {color:#000000 ; opacity:.5;}/* IE */

* {
    padding: 0;
    margin: 0;
}

body {
    background: #1E1E1E;
    min-width: 299px;
    margin: 0px 100px;

    font-family: 'Neue Montreal';
}

a {
    text-decoration: none;
    color: black;
}

.center {
    padding-left: calc(50% - 700px);
    padding-right: calc(50% - 700px);
}

.header {
    position: relative;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 15.8571%; */

    padding: 30px 0px;
    height: 45px;
}

.links_vigits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 68.7142%;
}

.other__links {
    display: flex;
    flex-direction: row;
    gap: 3px;
    max-height: 40px;
}

.main_link {
    padding: 8px 30px;
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.link_courses_geeks {
    font-size: 24px;
    line-height: 29px;

    border: 1px solid white;
    /* background-color: #1E1E1E; */
}

.link__articles {
    border: 1px solid white;
    background: #B286FD;
    transition: .3s;
}

.link__articles:hover {
    background: #995EFF;
}

.link__reviews {
    color: #000000;
    background: #B2F042;
    transition: .3s;
}

.link__reviews:hover {
    background: #96DC18;
}

.link__about {
    color: #000000;
    background: #FFFFFF;
    transition: .3s;
}

.link__about:hover {
    background: #CECECE;
}

.link__forum {
    border: 1px solid white;
    background: #262626;
    pointer-events: none;
}

.vigit-hover path {
    transition: .3s;
}

.vigit-hover circle {
    transition: .3s;
}

.vigit-hover:hover path {
    fill: #FFF;
    opacity: .7;
}

.vigit-hover:hover circle {
    stroke: #FFF;
    opacity: .7;
}

.wrapper {
    display: none;
}

#check-menu {
    display: none;
}

.label_check_menu {
    display: block;
    position: absolute;
    top: 38px;
    right: 0;
    width: 45px;
    height: 45px;
    cursor: pointer;
    z-index: 2;
}

.burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 29px;
    height: 3px;
    background: linear-gradient(90deg, #B2F042, #B286FD);
    transition: .5s all;
}

.first {
    top: 18px;
}


.main-menu {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 15px 0px 148px;
    transform: translateY(100%);
    visibility: hidden;
    background-color: #1E1E1E;
    border-radius: 0px 0px 20px 20px;

    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    text-align: center;
    transition: .5s all;

    opacity: 0; 
    max-height: 0px;
    font-size: 0px;
    z-index: 10;
}

.menu_link {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 0px;
}

.menu_link:last-child {
    opacity: .3;
}

#check-menu:checked ~ .main-menu {
    /* display: block; */
    opacity: 1; 
    max-height: 600px;
    font-size: 48px;
    padding: 15px 0px 148px;
    visibility: visible;
}

.wrapper #check-menu:checked ~ .label_check_menu .first {
    transform: translateY(0px) rotate(45deg);
}

.wrapper #check-menu:checked ~ .label_check_menu .second {
    transform: translateY(10px) rotate(-45deg);
}

/* .main {
    
} */

.boxes {
    display: grid;
    /* grid-template-columns: repeat(2, 695px); */
    grid-template-columns: repeat(2, 49.642857%);
    grid-template-rows: auto;
    gap: 10px;
}

.article__box {
    border: 1px solid white;
    border-radius: 30px;
    padding: 30px;

    display: flex;
    flex-direction: column;
}

.article__box:hover {
    cursor: pointer;
}

.first__box {
    /* border: 1px solid white;
    border-radius: 30px;
    padding: 30px; */

    grid-column: span 2;

    display: flex;
    flex-direction: row;
    gap: 40px;
}

.left__part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* max-width: 50.357142%; */
    width: 50.357142%;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.violet__link {
    padding: 4px 20px;
    background: #B286FD;
    border-radius: 30px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.big_violet_link {
    font-size: 18px;
    line-height: 22px;
}

.black__link {
    padding: 4px 20px;
    border: 1px solid white;
    border-radius: 30px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.big_black_link {
    font-size: 18px;
    line-height: 22px;
}

.content__big {
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;

    padding-top: 10px;
}

.title__big {
    font-size: 38px;
    line-height: 110%;
    padding-bottom: 15px;
}

.article_description_big {
    font-size: 20px;
    line-height: 24px;
}

.vigits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.vigits_for_640px {
    display: none;
}

.left__vigit {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.right__vigit {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.big__photo {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.big_photo_640px {
    display: none;
}

.photo {
    border-radius: 30px;
    margin-bottom: 25px;
    width: 100%;
    height: auto;
}

.content {
    font-style: normal;
    color: #FFFFFF;

    padding-top: 10px;
}

.title {
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;

    padding-bottom: 15px;
}

.article__description {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.read_more {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.link_read_more {
    font-size: 20px;
    line-height: 24px;

    padding: 10px 50px;
    transition: .3s;
}

.link_read_more:hover {
    background-color: #995EFF;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    background: #B2F042;
    border-radius: 30px;
    /* padding-left: 30px;
    padding-right: 30px; */
    padding: 30px;
    height: 180px;
}

.form__title {
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 100%;
    color: #000000;
    margin-bottom: 40px;
}

.form__input {
    display: flex;
    flex-direction: column;
    width: 47.5%;
    gap: 10px;
}

#email {
    display: flex;
    margin-bottom: 5px;
    flex-direction: column;
    gap: 15px;
}

#email input {
    flex: 1;
    padding-left: 30px;
    /* height: 46px; */
    border: 1px solid #000000;
    border-radius: 30px;
    background-color: #B2F042;
    line-height: 46px;
    font-size: 20px;
    outline: 0;
}

.email_submit {
    background: #000000;
    border-radius: 30px;
    border: black;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

    padding: 11px 0;
}

.form__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.5;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 5px;
}

.half__footer {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.footer__text {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 30px;

    border: 1px solid #FFFFFF;
    border-radius: 30px;
    background-color: #1E1E1E;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    transition: .3s;
}

.footer__text:hover {
    background-color: #252525;
}

.footer__line {
    display: none;
}

@media (min-width: 640px) and (max-width: 1200px) {
    body {
        margin: 0px 20px;
    }

    .wrapper {
        display: block;
    }

    .links_vigits {
        display: none;
    }

    .boxes {
        grid-template-columns: 100%;
    }

    .article__box {
        padding: 20px;
    }

    .first__box {
        grid-column: span 1;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .left__part {
        width: 100%;
    }

    .right__part {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .violet__link, .black__link {
        padding: 4px 20px;
        font-size: 12px;
        line-height: 14px;
    }

    .big_violet_link, .big_black_link {
        padding: 5px 20px;
    }

    .big_violet_link {
        font-size: 14px;
        line-height: 17px;
    }

    .big_black_link {
        font-size: 14px;
        line-height: 17px;
    }

    .title__big {
        font-size: 32px;
    }

    .article_description_big {
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 2.4em;
        /* line-height: 24px; */
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    .photo {
        border-radius: 20px;
        height: 300px;
        width: auto;
        object-fit: cover;
        margin-bottom: 20px;
    }

    .big_photo_1600px {
        display: none;
    }

    .big_photo_640px {
        display: block;
        border-radius: 20px;
    }

    .vigits_for_1600px {
        display: none;
    }

    .vigits_for_640px {
        display: flex;
    }

    .link_read_more {
        font-size: 20px;
        line-height: 24px;
    
        padding: 11px 50px;
    }

    .form {
        flex-wrap: wrap;
        padding: 30px 20px 20px 20px;
        border-radius: 20px;
        height: auto;
    }

    .form__title {
        font-size: 48px;
        line-height: 110%;
    }

    .form__input {
        width: 100%;
    }

    #email {
        gap: 10px;
    }

    .footer {
        position: relative;
        gap: 0px;
    }
    
    .half__footer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 41px;
        width: auto;
    }

    .for_640px {
        align-items: flex-start;
    }

    .footer__text {
        font-size: 24px;
        line-height: 29px;
    }

    .main_title {
        font-weight: 500;
    }

    .reverse_for_640px {
        flex-direction: column-reverse;
        align-items: self-end;
    }

    .year {
        width: 33.478%;
    }

    .grey_title {
        border-color: #808080;
        color: #808080;
    }

    .footer__line {
        display: inline;
        position: absolute;
        top: 50%;
        width: 100%;
    }

    .grey_line_footer {
        background-color: #808080;
        border: 0;
        height: 1px;    
    }
}

@media (min-width: 320px) and (max-width: 639.99px) {
    body {
        margin: 0px 10px;
        min-width: 300px;
    }

    .header {
        position: relative;
    }

    .nav {
        padding: 15px 0px;
        height: 30px;
    }

    .link_courses_geeks {
        font-size: 16px;
        line-height: 19px;
        padding: 5px 20px;
    }

    .links_vigits {
        display: none;
    }

    .wrapper {
        display: block;
    }

    .label_check_menu {
        top: 17px;
        height: 30px;
    }

    #check-menu:checked ~ .main-menu {
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
    }

    .center {
        padding-left: calc(50% - 320px);
        padding-right: calc(50% - 320px);
    }

    .boxes {
        /* grid-template-columns: 300px; */
        grid-template-columns: 100%;
        min-width: 300px;
        /* padding-left: 10px;
        padding-right: 10px; */
    }

    .article__box {
        padding: 15px;
        border-radius: 10px;
        min-width: 270px;
        /* width: 270px; */  /* можно этот параметр не выставлять, ширина автоматически равна 268.667 на 320px*/
    }

    .first__box {
        grid-column: span 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .left__part {
        width: 100%;
    }

    /* .right__part {
        margin-top: 10px;
        margin-bottom: 10px;
    } */

    .violet__link, .black__link {
        padding: 4px 20px;
        font-size: 12px;
        line-height: 14px;
    }

    .big_violet_link, .big_black_link {
        padding: 5px 20px;
        font-size: 16px;
        line-height: 19px;
    }

    /* .big_violet_link {
        font-size: 14px;
        line-height: 17px;
    }

    .big_black_link {
        font-size: 14px;
        line-height: 17px;
    } */

    .title__big {
        font-size: 28px;
    }

    .article_description_big {
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 2.4em;
        /* line-height: 24px; */
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    .photo {
        border-radius: 10px;
        height: 150px;
        width: auto;
        object-fit: cover;
        margin-bottom: 15px;
    }

    .big_photo_1600px {
        border-radius: 10px;
        height: 200px;
        /* width: 270px; */
        
    }

    /* .big_photo_640px {
        display: block;
        border-radius: 20px;
    } */

    .vigits_for_1600px {
        display: none;
    }

    .vigits_for_640px {
        display: flex;
    }

    .title {
        font-size: 28px;
        padding-bottom: 10px;
    }

    .article__description {
        font-size: 14px;
        line-height: 17px;
        
    }

    .read_more {
        margin: 40px 0px;
    }

    .link_read_more {
        font-size: 14px;
        line-height: 17px;
    
        padding: 5px 33px;
    }

    .form {
        flex-wrap: wrap;
        padding: 15px;
        border-radius: 10px;
        height: auto;
    }

    .left__part {
        width: 80%;
    }

    .form__title {
        font-size: 24px;
        line-height: 110%;
        margin-bottom: 23px;
    }

    .form__input {
        width: 100%;
    }

    #email {
        margin-bottom: 0px;
        gap: 5px;
    }

    #email input {
        height: 29px;
        font-size: 14px;
        /* line-height: 17px; */
        padding-left: 15px;
        line-height: 30px;
        font-size: 14px;
    }

    .email_submit {
        font-size: 14px;
        line-height: 17px;
        padding: 0;
        height: 29px;
    }

    .form__text {
        font-size: 10px;
        line-height: 12px;
        margin-top: -5px;
    }

    .footer {
        position: relative;
        gap: 0px;
    }
    
    .half__footer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 21px;
        width: auto;
    }

    .for_640px {
        align-items: flex-start;
    }

    .footer__text {
        font-size: 16px;
        line-height: 19px;
        padding: 5px 20px;
    }

    .main_title {
        font-weight: 500;
    }

    .reverse_for_640px {
        flex-direction: column-reverse;
        align-items: self-end;
    }

    .year {
        width: 33.478%;
    }

    .grey_title {
        border-color: #808080;
        color: #808080;
    }

    .footer__line {
        display: inline;
        position: absolute;
        top: 50%;
        width: 100%;
    }

    .grey_line_footer {
        background-color: #808080;
        border: 0;
        height: 1px;    
    }
}